.app {
  text-align: center;
  background-color: darkgreen;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #fff;

  button {
    font-size: .9rem;
    font-family: helvetica;
    padding: 3px 20px;
    margin: 5px;
    border-radius: 3px;
  }
}

.dealer {
  padding-top: 2rem;
}

.user {
  padding-bottom: 2rem;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.winner {
  position: absolute;
  width: 200px;
  height: 90px;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,.8);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  flex-direction: column;
  font-size: 1rem;
}
