.card {
  transform: translateX(0);
  transition: all 1s;
  padding: 1rem .5rem;
  &.loading {
    transform: translateX(100vw);
  }
}

.image {
  max-height: 30vh;
  height: 200px;
  max-width: 100%;
  width: auto;
}
